h1{
    font-family: 'Arial', sans-serif;
    font-size: 4em;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 4px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}
.section img{
  padding-top: 10%;
 width: 50%;
 padding-right: 3%;
}
#resetBtn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
